* {
    background-color: black;
   text-align: center;
    
}
h1 {
  padding-top: 1em;
    color: white;
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}
.emaillogo {
    height: 2em;
    text-align: center;
}
label {
    color: white;
    font-size: 0.8em;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.messagebox {
    color: white;
    border-color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.emailbox {
    color: white;
    border-color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.namebox {
    color: white;
    border-color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
