* {
    background-color: black;
    text-align: center;
    width: auto;
    height: auto;
    padding-top: 4em;
}
h1 {
    padding-top: 1em;
    color: white;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}
.emaillogo {
    height: 5em;
    text-align: center;
}
