* {
    background-color: black;
   text-align: center;
}
h1 {
   
    color: white;
    font-size: 5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
.emaillogo {
    height: 35px;
}
label {
    color: white;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}
.messagebox {
    color: white;
    border-color: white;
    font-family: 'Montserrat', sans-serif;
}
.emailbox {
    color: white;
    border-color: white;
    font-family: 'Montserrat', sans-serif;
}
.namebox {
    color: white;
    border-color: white;
    font-family: 'Montserrat', sans-serif;
}
